<h1 class="title">No Repository Configured</h1>
<p>Setup a local or remote repository to start receiving code reviews.</p>

<br/><br/>

<%= link_to 'Get Started', new_repository_path, class: 'button is-primary' %>