<!-- <div class="container"> -->
<div id="code-diff" class="code-diff">
  <i class="fa fa-arrows-alt fullscreen-icon" aria-hidden="true"></i>
  <pre><%= review.diff.html_safe %></pre>
</div>
<!-- </div> -->
